@charset "utf-8";
/* body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
} */
body.before-load {
	overflow: hidden;
}
.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: white;
	opacity: 0;
	transition: 0.5s;
}
.before-load .container {
    display: none;
}
.before-load .loading {
	opacity: 1;
}
@keyframes loading-spin {
	100% { transform: rotate(360deg); }
}
@keyframes loading-circle-ani {
	0% { stroke-dashoffset: 157; }
	75% { stroke-dashoffset: -147; }
	100% { stroke-dashoffset: -157; }
}
.loading-circle {
	width: 54px;
	height: 54px;
	animation: loading-spin 3s infinite;
}
.loading-circle circle {
	stroke: black;
	stroke-width: 4;
	/* getTotalLength()로 stroke의 길이를 얻어올 수 있음 */
	stroke-dasharray: 157, 157;
	stroke-dashoffset: 0;
	fill: transparent;
	animation: loading-circle-ani 1s infinite;
	/* transition: 1s; */
}
/* .loading-circle:hover circle {
	stroke-dashoffset: -157;
} */
html { font-size: 8px; width: 100%;height:100%;}
:root {
  --color-black: #1d1d1f;
}

body {
  font-family: 'Noto Serif KR', "SF Pro KR","SF Pro Text","SF Pro Icons","Apple Gothic","HY Gulim","Noto Sans KR", "MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: var(--color-black);
  width:100%;
  height: 100%;
  overflow-x: hidden;
}
figure {
  margin: 0;
}
img {
  width: 100%;
}
strong {
  font-weight: 900;
}
.main {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
}
section {
  position: relative;
  height: 100%;
}
.content {
  position: relative;
  height: 120vh;
  overflow: hidden;
}
.sticky-wrapper {
  position: relative;
  height: 100%;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 120vh;
}
.text-vetical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.invitation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 5rem 3rem;
}
.invitation h1 {
  font-size: 5rem;
  line-height: 1.2;
}
.invitation p {
  font-size: 3rem;
}

.greeting {
  height: 100%;
}
.greeting-bk {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: #111;
}
.greeting-bk .content,
.greeting-sh .greeting-sh-content .sticky {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.greeting-sh {
  position: relative;
  width: 100%;
  margin-top: -100vh;
  z-index: 2;
  background: #111;
}
.greeting-sh-content {
  height: 240vh;
}
.greeting-sh-content .sticky {
  overflow: hidden;
}
.greeting-bksh {
  position: relative;
  background: #111;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.img-groom {
  position: absolute;
  bottom: -10px;
  left: -10%;
  width: 100%;
  /* opacity: 0; */
}
.img-bk {
  object-fit: cover;
}
.greeting-groom,
.greeting-bride {
  position: relative;
  font-size: 32px;
  letter-spacing: 5px;
  line-height: 1.2;
  color: #fff;
  text-align: left;
  padding-right: 3rem;
  box-sizing: border-box;
  z-index: 1;
  opacity: 0;
  margin-top: -25rem;
}
.img-bride {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
}

.section-transition {
  position: relative;
}
.img-bksh {
  background: url(../images/bksh.jpg) no-repeat 70% center / cover;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.greeting-bksh .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.greeting-together {
  font-size: 6rem;
  color: #fff;
  text-align: center;
  padding: 1.2em 0.4em 0.4em;
  box-sizing: border-box;
}
.info-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  opacity: 0;
}
.info-text {
  font-family: "SF Pro KR","SF Pro Text","SF Pro Icons","Apple Gothic","HY Gulim","Noto Sans KR", "MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.info-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -10vh;
}
.col {
  flex-direction: column;
}
.text-info-so,
.text-info-when {
  font-size: 5rem;
  line-height: 1.2;
}
.text-info-so {
  font-size: 3rem;
}
.text-info-when {
  font-weight: 700;
}
.info-text-when-content {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1;
}
.info-text-when-content strong {
  font-size: 4rem;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.absolute-center.where {
  z-index: 1;
}
.absolute-center.here {
  z-index: 2;
}
.absolute-center.svg {
  width: 100%;
  height: 100%;
}
.absolute-center.svg svg {
  width: 100%;
  height: 100%;
}
.text-info-where {
  font-size: 5rem;
}
.text-info-here {
  font-size: 8rem;
  font-weight: 900;
  line-height: 1;
}
.img-map {
  background: url(../images/map.jpg) no-repeat 50% 50% / cover;
  height: 100%;
}
.point-wrapper {
  position: absolute;
  top: 20vh;
  left: 5%;

}
.point-wrapper svg {
  width: 20px;
}
.point-box {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1;
  padding: 1em;
  color: #fff;
  border-radius: 10px;
  -webkit-backdrop-filter: saturate(180%) blur(3px);
  backdrop-filter: saturate(180%) blur(3px);
  background-color: rgba(0,0,0,0.6);
  box-sizing: border-box;
  word-break: keep-all;
}
.text-address {
  font-size: 0.5em;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 1em;
}

.t6 .info-text {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}
.album-wrapper {
  display: grid;
  height: 80vh;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.album-item.img-01 {
  grid-column: 1 / span 8;
}
.album-item.img-02 {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
}
.album-item.img-03 {
  grid-column: 5 / span 4;
  grid-row: 2 / span 1;
}
.album-item.img-04 {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
}
.album-item.img-05 {
  grid-column: 4 / span 5;
  grid-row: 3 / span 1;
}
.album-item .album-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  /* border-radius: 25px; */
}
.album-item.img-01 .album-img {
  background-image: url(../images/img5.jpg);
}
.album-item.img-02 .album-img {
  background-image: url(../images/img2.jpg);
}
.album-item.img-03 .album-img {
  background-image: url(../images/img4.jpg);
}
.album-item.img-04 .album-img {
  background-image: url(../images/img6.jpg);
}
.album-item.img-05 .album-img {
  background-image: url(../images/img1.jpg);
}

.t7 .text-wrapper {
  position: absolute;
  top: 0;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
}
.t7 .info-text {
  font-size: 4rem;
  font-weight: bold;
}
.t7 .img-well {
  background: url(../images/img3.jpg) no-repeat center center / cover;
  width: 80vw;
  height: 100vw;
  margin-top: 50px;
}

.t8 figure {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.t8 .info-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: -0.25px;
  color: #fff;
}